
/*----Variabler------*/
$blue:#0004FF;
$red:#FF0004;
$blue2:$blue - 100;
$my_font_size:1.5em;

$my_padding:2%;

/*----sass kod------*/

h1{
    color:$red;
}

h2{
  color:$blue;
}

h3{
  color:$blue2;
}


.myDiv p{
    padding:$my_padding+5%;
  font-size:$my_font_size;
    color: $red;
  background:darken($red, 30%);
}


